<%# This is the home page where user will enter value and get a answer%>
<h1>Blood Pressure Calculator - Test Container Changes</h1>

<%= form_with url: root_path, method: :post, local: true, data: { turbo: false } do %>
  <div>
    <%= label_tag :systolic, "Systolic (top number)" %>
    <%= number_field_tag :systolic, nil, min: 70, max: 190, required: true %>
  </div>

  <div>
    <%= label_tag :diastolic, "Diastolic (bottom number)" %>
    <%= number_field_tag :diastolic, nil, min: 40, max: 100, required: true%>
  </div>

  <div>
    <%= submit_tag "Calculate" %>
  </div>
<% end %>

<% if @category.present? %>
  <h2>Your Blood Pressure Result:</h2>
  <p><strong><%= @category %></strong></p>
<% elsif @error_message.present? %>
  <h2>Error:</h2>
  <p><strong><%= @error_message %></strong></p>
<% end %>